<section class="section section-shadow section-form section-padding-120-70">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-10 col-lg-8">
        <h3 class="section-title text-center">
{#          {{ 'Please complete this form and we\'ll get back to you asap.'|t }}#}
        </h3>
          {{ vars.contact_form }}
      </div>
    </div>
  </div>
</section>

